<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        a:active{
            background-color: lawngreen;
        }
        a:hover{
            color:green;
        }

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/notes">Збережені примітки</a> &nbsp;&nbsp;&nbsp;<a href="/addnote">Додати примітку</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if notes %}
        <ol>
            {% for note in notes %}
                <li> {{ note }} </li>
            {% endfor %}
        </ol>
    {% endif %}

<br><br>

    {% if form %}
        <form action="{{url_for("submitnote")}}" method="POST">
        {{ form.content }}
            <br>
            <button type="submit">Зберегти примітку в базу даних</button>
        </form>
    {% endif %}

</body>
</html>